process {
  withName:flexbar_trim { 
    cpus=2
    container = 'mpgagebioinformatics/flexbar:3.5'
    containerOptions = "--user ${params.user} -v ${params.project_folder}:/workdir -v ${params.flexbar_raw_data}:/raw_data  --platform=linux/amd64 "
  }
  withName:get_quality { 
    cpus=1
    container = 'mpgagebioinformatics/fastqc:0.11.9'
    containerOptions = "--user ${params.user} -v ${params.project_folder}:/workdir  --platform=linux/amd64 "
  }
}