process {
  withName:flexbar_trim { 
    cpus=2
    container = 'mpgagebioinformatics/flexbar:3.5'
    containerOptions = " -v ${params.project_folder}:/workdir -v ${params.flexbar_raw_data}:/raw_data -v ${params.fastqc}:/fastqc_output"
  }
  withName:get_quality { 
    cpus=1
    container = 'mpgagebioinformatics/fastqc:0.11.9'
    containerOptions = "-v ${params.project_folder}:/workdir"
  }
}