process {
    withName:flexbar {
        executor='slurm'
        queue="${params.queue}"
        cpus=8
        memory='20GB'
        time='4h'
        container = "${params.image_folder}flexbar-3.5.sif"
        containerOptions = "${params.extra_mounts} -B ${params.project_folder}:/workdir -B ${params.flexbar_raw_data}:/raw_data"
    }
}
